<h1 class="current-category"><%= params[:category] %></h1>
  <% if @movies.count == 0 %>
    <h1>There are currently no books in this category</h1>
  <% else %>
    <% @movies.each do |movie| %>
      <a href="/movies/<%= movie.id %>">
        <%= image_tag movie.movie_image.url(:movie_index) %>
      </a>
    <% end %>
  <% end %>

<%= link_to 'New Movies', new_movie_path %>
